
*{
    box-sizing: border-box;
    
}

h1{
    color:red;
    text-align: center;

}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(226, 208, 43);
    padding:50px;
    border:1px solid green;
}
ul{
    list-style: none;
}
#spanId{
    font-size: 18px;
    margin:50px;
    margin: auto;
}

.content-main{

    background-image: url("../../08-HTML/homework/assets/img/background.jpeg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

div{
    margin: auto;
    text-align: center;

}

img{
    margin: auto;
}